@import '~vuetify/src/styles/tools/_functions.sass';
// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// Font rules
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Open Sans', sans-serif;
$font-size-root: 14px;

// Button vars
// Selected from:
// https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/components/VBtn/_variables.scss
$btn-active-opacity: 0.18;
$btn-focus-opacity: 0.24;
$btn-font-weight: 700;
$btn-hover-opacity: 0.08;
$btn-icon-font-size: 18px;
$btn-icon-padding: 12px;
$btn-letter-spacing: 0em;
$btn-outline-border-width: thin;
$btn-rounded-border-radius: 28px;
$btn-text-transform: none;
$btn-transition-duration: 0.28s;

$btn-font-sizes: () !default;
$btn-font-sizes: map-deep-merge(
  (
    'x-small': 0.625rem,
    'small': 1rem,
    'default': 1rem,
    'large': 1.15rem,
    'x-large': 1.75rem
  ),
  $btn-font-sizes
);

$btn-large-height-value: 44;
$btn-large-height: #{$btn-large-height-value}px;

$btn-sizes: () !default;
$btn-sizes: map-deep-merge(
  (
    'x-small': 20,
    'small': 28,
    'default': 36,
    'large': $btn-large-height-value,
    'x-large': 52
  ),
  $btn-sizes
);

// Typography
// Taken from https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/styles/settings/_variables.scss
$headings: () !default;
$headings: map-deep-merge(
  (
    'h1': (
      'size': 6rem,
      'weight': 400,
      'line-height': 6rem,
      'letter-spacing': -0.015625em,
      'font-family': $heading-font-family
    ),
    'h2': (
      'size': 3.75rem,
      'weight': 300,
      'line-height': 3.75rem,
      'letter-spacing': -0.0083333333em,
      'font-family': $heading-font-family
    ),
    'h3': (
      'size': 3rem,
      'weight': 400,
      'line-height': 3.125rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family
    ),
    'h4': (
      'size': 2.125rem,
      'weight': 400,
      'line-height': 2.5rem,
      'letter-spacing': 0.0073529412em,
      'font-family': $heading-font-family
    ),
    'h5': (
      'size': 1.5rem,
      'weight': 400,
      'line-height': 2rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family
    ),
    'h6': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': 0.0125em,
      'font-family': $heading-font-family
    ),
    'subtitle-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.75rem,
      'letter-spacing': 0.009375em,
      'font-family': $body-font-family
    ),
    'subtitle-2': (
      'size': 0.875rem,
      'weight': 500,
      'line-height': 1.375rem,
      'letter-spacing': 0.0071428571em,
      'font-family': $body-font-family
    ),
    'body-2': (
      'size': 1rem,
      'weight': 600,
      'letter-spacing': 0,
      'line-height': 1.25rem,
      'font-family': $body-font-family
    ),
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'letter-spacing': 0.03125em,
      'line-height': 1.5rem,
      'font-family': $body-font-family
    ),
    'caption': (
      'size': 0.75rem,
      'weight': 400,
      'letter-spacing': 0.0333333333em,
      'line-height': 1.25rem,
      'font-family': $body-font-family
    ),
    'overline': (
      'size': 0.625rem,
      'weight': 400,
      'letter-spacing': 0.1666666667em,
      'line-height': 1rem,
      'font-family': $body-font-family
    )
  ),
  $headings
);
